@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);

body {
    font-family: Roboto Slab, serif;
    background-color: rgb(47, 53, 58);
    background-color: #d1d1d1;
}

/* nav {
    background-color: #ff6a28;
} */
.jopa {
    margin: 2em;
}

.auto-item {
    justify-content: space-between;
    color: white;
    border:0em;
    background-color: rgb(33, 37, 41);
}

.tarif-item {
    display: flex;
    justify-content: space-between;
    color: white;
    border:0em;
    background-color: rgb(33, 37, 41);
    border-bottom: 3px solid #0d6efd;
}

.tarif-h5 {
    color: white;
}

h1 {
    color: rgb(33, 37, 41);
    font-size: 50px;
    background: radial-gradient(#373d44 -50%, #d1d1d1 70%);
}

h2,
h5,
h6 {
    color: #0d6efd;
}

.text-gl {
    background-color: #212529;
    border-radius: 10px 10px;
}

p {
    color: white;
}

.navbar {
    margin: 0.5em;
    border-radius: 10px 10px;
}

.navbar-collapse {
    justify-content: space-between;
}

.nav-link {
    color: white;
    margin-inline: 0.13em;
}

.navbar-nav .nav-link.active {
    color: rgb(122, 122, 122);
}

.navbar-brand img {
    width: 4em;
}

.navbar-toggler {
    background-color: rgb(47, 53, 58);

}

.nav-item {
    margin: 0.5em;
}

.sitebar {
    /* color: black; */
    background-color: rgb(33, 37, 41);
    border: 1em;
    border-color: white;
    text-decoration: none;
    padding: 1em;
}

.sitebar a {
    text-decoration: none;
    color: #0d6efd;
}

.card {
    background-color: rgb(33, 37, 41);
    /* background-color: #ff6a28; */
    color: white;
    border: 1em;
    border-color: white;
}

.carousel-inner {
    border-radius: 10px 10px;
    background-color: rgb(33, 37, 41);
    /* background-color: #ff6a28; */
}

.slide-text,
.fotter-text {
    color: white;
    margin: auto auto;
}

.col-lg-6.col-md-6>img {
    border-radius: 10px 10px;
    border: 1em;
    border-color: white;
}

html>body>footer {
    background-color: rgb(33, 37, 41);
    /* background-color: #ff6a28; */
    margin: 0.5em;
    border: 1em;
    border-color: white;
    border-radius: 10px 10px;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-index {
    color: rgb(255, 255, 255);
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border: 1px solid #000;
    border-radius: 10px 10px;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.img-container {
    position: relative;
    height: 70vh;
    /*Вместо height: 70vh можно использовать padding-bottom: 56.25%; /* соотношение 16:9 */
    width: 100%;
    overflow: hidden;
  }
  
  .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    object-fit: cover;
    opacity: .6;
  }

.call-anim {
    margin-right: 10px;
    animation: myAnim 5s ease 0s infinite normal forwards;
}

/* @keyframes myAnim {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-1px, 1px);
	}

	40% {
		transform: translate(-1px, -1px);
	}

	60% {
		transform: translate(1px, 1px);
	}

	80% {
		transform: translate(1px, -1px);
	}

	100% {
		transform: translate(0);
	}
} */

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-4px) rotate(-6deg);
	}

	30% {
		transform: translateX(4px) rotate(6deg);
	}

	45% {
		transform: translateX(-4px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(3px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-1px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}